name: 'Udacity Frontend Deployment Workflow'

on:
  # workflow_run:
  #   workflows: ["Udacity Frontend Integration Workflow"]
  #   types:
  #     - completed
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test: 
    name: 'Code testing'
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code 
        uses: actions/checkout@v3
      - name: Setup dependencies 
        uses: actions/setup-node@v3
        with:
          node-version: latest 
      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
  build:
    needs: test
    name: 'Code building and deployment'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code 
        uses: actions/checkout@v3

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.CONTAINER_REGISTRY }}/${{secrets.IMAGE_NAME}}:latest