name: 'Udacity Frontend Deployment Workflow'

on:
  # workflow_run:
  #   workflows: ["Udacity Frontend Integration Workflow"]
  #   types:
  #     - completed
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: cluster
  IMAGE_TAG: ${{ github.sha }}

jobs:
  test: 
    name: 'Code testing'
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code 
        uses: actions/checkout@v3
      - name: Setup dependencies 
        uses: actions/setup-node@v3
        with:
          node-version: latest 
      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
  build:
    needs: test
    name: 'Code building and deployment'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code 
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          # 1. Build the docker image with the SHA tag
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          
          # 2. Push the SHA tag (Good for version history)
          docker push $ECR_REPOSITORY:$IMAGE_TAG
          
          # 3. Tag and Push 'latest' as well (Good for convenience)
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REPOSITORY:latest
          docker push $ECR_REPOSITORY:latest
          
          echo "image=$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT